


  .pic {
    width: 200px;
  }
  .nav li {
    margin-right: 10px;
    float: right;
    display: inline;
    font-weight: bold;
    font-style: normal;
    font-style: 40px;
    padding: 20px;
    margin-top: 10px;
  }

  #contact {
    background-image: url(contactbackground.jpg);
 }
#Index{
  background-image: linear-gradient(pink, lavender);
}


#Resume {

  background-image: linear-gradient(lime, lightblue);
}


#Links {
background-image: linear-gradient(pink, lavender);
}
#About{
  background-image: linear-gradient(pink, lavender);


}
